.dashboard {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  min-height: 100dvh;
  align-items: flex-start;
}

.dashboardMain {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}
