.faqBody {
  background: #001812;
}

@media (min-width: 1280px) {
  .shell {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    padding-top: 64px;
    padding-bottom: 32px;
  }

  .main {
    display: flex;
    flex: 1;
    flex-direction: column;

  }
}